*{
    text-align: center;
}
body {
    color: aliceblue;
    background-color: rgb(32, 33, 34);
}


.titleBackground {
    border-radius: 10px;
    padding: 5px;
    background-color: yellow;
}

#title{
    color: black;
}

#linktoRegions {
    text-decoration: none;
    color: white;
}

#listOfRegions {
    padding: 20px;
}

#listOfRegions #R1 {
    color: white;
}
#container {
    padding: 20px;
}

#template #templatelink {
    padding: 20px;
    color: rgb(255, 255, 255);
}
