*{
    text-align: center;
}

body {
    color: aliceblue;
    background-color: rgb(32, 33, 34);
}


.topnav{
    border-radius: 10px;
    padding: 5px;
    background-color: yellow;
}

#title{
    color: black;
}



.column {
    width: 350px;
    padding: 15px;
    margin: auto;
    background-color: gray;
    border-radius: 5%;
}

.card{
    margin: auto;
    text-align: center;
  }

  a{
    color: white;
    text-decoration: none;
  }

  #yearList{
    margin: auto;
    padding: 5px;
  }
  
